template(name="toplist")
	h1.center.page-title Highscore

	h1.center.page-title Score: #{finalScore}

	h1.center.page-title Want to get notified when someone beats your highscore on this level? 

	h1.center.page-title Enter Yo Username: 

	form.center
		input.round(type="text", name="time", value="gjg")
		