template(name="toplist")
	
	.textblurbs
		h1.center.page-title Highscore

		p.center.large.bold.white Score: #{finalScore}

		p.center.large.bold.white Want to get notified when someone beats your highscore on route? 

		p.center.large.bold.white Enter Yo Username: 

	.inputs
		form.center.yo
			input.round(type="text", name="time", id="yoText")
		
			.buttonContainer
				button.oversized(name="submitYo") Submit

template(name="highscoreList")
	ul.toplist
		each highscore
			li
				p= tag
				p= highscore	
