head
	title Related Artists Game

body

template(name="main")
	section.background(style="background-image: url(#{artistImage})")
	+yield

template(name="index")
	if artist
		h1.page-title.center Artists related to #{artist.name}
		
		section.center-contents
		if related
			ul.related-artists.inline-list
				each related
					li
						.image(style="background-image: url(#{coverImage.url})")
						h3.center= name
