// font sizes
.small
	font-size 11px


.smaller
	font-size 10px
	line-height 13px

.mediumRare
	font-size 15px

.medium
	font-size 20px

.big, .large
	font-size 28px

.larger
	font-size 50px

.thin
	font-weight 100

.mediumHuge
	font-size 40px
	line-height @font-size

.huge
	font-size 90px
	line-height @font-size

// weights
.light
	font-weight 100

.normal
	font-weight normal

.bold
	font-weight bold

// text-alignment
.left
	text-align left

.center
	text-align center

.right
	text-align right

// font colors
.subtle
	color subtle
.dark
	color #424242

.light
	color #999999

// metrics
.nm
	margin 0

.np
	padding 0

.mb
	margin-bottom 20px

.mb-medium
	margin-bottom 40px

.mb-large
	margin-bottom 70px

.mbs
	margin-bottom 10px
.mt
	margin-top 20px

.mts
	margin-top 10px

.mt-large
	margin-top 70px

.pt
	padding-top: 30px
	
.normal-padding
	padding 30px

// positioning
.fixed
	position fixed

.absolute
	position absolute

.relative
	position relative

.absoluteTopCenter
	position absolute
	top 20px
	left 50%
	// bottom 10px
	// right 20px
	// text-align right
	// position absolute
    // left 0px
    // right 0px
    // margin-left auto
    // margin-right auto
    // text-align center

.centerMeFromAbsolute
	position relative
	left -50%

.absoluteBottomRight, .absoluteUpRight, .absoluteBottomLeft, .absoluteUpLeft, absoluteTopCenter
	position absolute
	font-family avenir
	font-size 30px
	p
		margin 0

.absoluteBottomRight
	bottom 10px
	right 20px
	text-align right

.absoluteUpLeft
	top 20px
	left 20px
	text-align left

.absoluteUpRight
	position absolute
	top 20px
	right 20px
	text-align right

.absoluteBottomLeft
	position absolute
	bottom 10px
	left 20px
	text-align left

.discreteText
	font-size 12px
	color #d5d5d5

.moreDiscreteText
	font-size 12px
	color #999999

.high-z
	z-index 400

.nostyletype
	list-style-type none
	
a.nolink
	text-decoration none
	color black
	&:hover
		text-decoration underline

.no-border
	border none

.no-button
	padding 0
	border none
	&:hover
		// background rgba(black, 0.4)

.half
	col(1/2)

.inline-list
	list-style-type none
	li
		display inline-block