sansfonts = avenir, Helvetica, Arial, sans-serif

html
	height: 100%

body
	min-height: 100%

html
	background black

h1
	cursor default

p
	font-family sansfonts
	color white


.artist-box
	height 700px

.onboarding-box
	width 600px
	height 600px
	margin-left auto
	margin-right auto
	position relative
	top 50%
	-moz-transform translateY(10%)


section.background
	position fixed
	top 0 
	left 0 

	min-width 100%
	min-height 100%

	z-index -1
	background-size cover
	background-repeat no-repeat
	opacity 0.2

.fade-in
	animation fade-in .2s
	-webkit-animation @animation

@keyframes fade-in
	from
		opacity 0
	to
		opacity 0.2

.fade-out
	animation fade-out .2s
	-webkit-animation @animation

@keyframes fade-out
	from
		opacity 0.2
	to
		opacity 0


section.artist-area
	// margin-top -100px
	width 100%
	// align(b)
	// margin-top 200px
	// width 100%
	position relative
	top 50%
	-moz-transform translateY(20%)


ul.related-artists
	center(1300px)
	li
		.artistBoxContainer
			// position relative
			height 260px
			.image
				box-shadow 0 0 12px 1px black
				margin auto
				height 95%
				width 95%
				background-size cover
				background-repeat no-repeat
				transition all .1s

			&.selected
				.image
					box-shadow 0 0 8px 1px white
					height 100%
					width 100%
					-webkit-animation: jelly .7s linear both;
					animation: jelly .7s linear both;
				p
					margin-top 38px

				


				// transition all 1s

			h3
				margin-top 10px
				font-size 18px
				font-weight bold
				font-family sansfonts
				color white

		col(1/5)
		cursor pointer
			

.page-title
	font-weight bold
	color white
	font-family sansfonts
		

.shareButtons

	// height 65px
	// width 210px
	margin-left auto
	margin-right auto
	text-align center


	.facebook,.twitter
		display inline-block
		vertical-align middle

.tweetStyle
	margin-left 10px


input.round
	display inline-block
	font-weight bold
	border-radius 5px
	height 50px
	width 200px
	font-size 22px 
	// text-transform uppercase
	font-family sansfonts
	color #2b2b2b
	background #f5f5f5
	padding-left 10px
	padding-right 10px
	border none
	font-weight 300
	vertical-align top
	

.yoText 
	font-size 13px
	color #BBBBBB


.inputs
	padding 50px
	padding-bottom 10px
	background #00000069
	width 50%
	margin-left auto
	margin-right auto
	border-radius 7px

.submitForm
	display inline-block
	width 100%
	height 60px


.buttonContainer
	vertical-align: bottom;
	display inline-block
	width 100px
	height 60px



	button 
		display inline-block
		width 100px
		height 50px

	.small
		width 200px

.largeContainer
	width 200px

button.oversized
	border-radius 5px
	
	border none
	background #CE4141
	color white
	font-size 21px
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	border-bottom: 2px solid #810B0B;
	padding 10px 20px
	font-family sansfonts
	font-weight bold
	outline none
	margin 0
	padding 0

	&:active, &:hover
		margin-bottom -2px
		margin-top 2px
		padding-top 2px
	
	&.extra
		padding 15px 30px
		font-size 32px
		//margin-top 30px

	&.larger
		width 200px

.centerButton
	margin-top 20px
	margin-left auto
	margin-right auto
	margin-bottom 30px

.chooseCustom
	color #d5d5d5
	font-size 14px

	&:active, &:hover
		color #999999
		cursor pointer 

.startOver
	&:active, &:hover
		color #777777
		cursor pointer 

.scoreblurb

	width 200px
	margin-left auto
	margin-right auto
	padding 5px
	border-radius 5px
	p
		color white


.toplist
	list-style-type: none
	margin-top 10px
	padding-left 0

.mission-box
	position relative
	margin auto
	margin-bottom 30px
	height 200px
	max-width 600px
	overflow hidden
	background-size 100% auto
	// border 2px solid rgba(white,0.4)
	// -webkit-animation bgscale 10s linear
	// animation bgscale 10s linear
	p
		// font-weight normal
		font-size 20px

	.rot-cont
		border 1px solid rgba(white,0.4)
		margin-right -300px
		// border 4px solid white
		overflow hidden
		-webkit-transform:rotate(-45deg)
		transform:rotate(-45deg)

	// .left-artist
	// 	position absolute
	// 	width 100%


	.mission-artist
		height 400px
		background-size cover

	.right-artist
		-webkit-transform:rotate(45deg)
		transform:rotate(45deg)
		margin-top -100px
		// -webkit-animation moveslide 10s linear
		// animation moveslide 10s linear
		p
			z-index 1000
		
		
@keyframes moveslide
	from
		margin-top 0
	to
		margin-top -100px

@keyframes bgscale
	from
		background-size 200% auto
	to
		background-size 100% auto

input.squared
	// border-radius 5px
	background none
	border 2px solid white
	font-size 18px
	font-family sansfonts
	padding 10px 20px
	font-weight bold
	color white
	text-align center
	outline none
	width 100%
	&.small
		font-size 12px

section.artistForms
	height 80px
	padding 0
	center(600px)
	padding-left 0
	padding-right 0

	h3
		margin 0

	.leftForm
		text-align right
	.rightForm
		text-align left

	ul.search-results
		text-align left
		width 100%
		background rgba(black, 0.9)
		list-style-type none
		padding 0
		margin 0
		li
			margin 0
			padding 10px 20px
			font-family sansfonts
			font-size 14px
			font-weight bold
			color white

			&:not(:nth-child(1))
				border-top 1px solid rgba(white,0.2)

			&.selected
				background rgba(white, 0.3);

	.discoverSearch
		ul.search-results
			width 470px

a.subtle
	text-decoration none
	&:hover
		color white

.full-center-contents
	position fixed
	top 0
	left 0
	min-width 100%
	min-height 100%
	-moz-flex-align center
	-moz-flex-pack center
	align-content center
	align(b)




.splash
	// padding-bottom 100px
.hide
	opacity 0

.fade-in-full
	animation fade-in-full .4s
	-webkit-animation @animation	

@keyframes fade-in-full
	from
		opacity 0
	to
		opacity 1

.white
	color white

section.discoverSearch
	.artistStartSearch
		center(500px)
		.search-results
			max-width 100%
	input.squared
		border 4px solid white
		width 100%
		font-size 32px
		// height 60px
.logInHint
	overflow hidden
	&:hover
		&:after
			font-size 14px
			position: absolute
			content 'Log in with spotify to add song to your library'
			margin-left 20px

.pophover
	display inline-block
	&:hover
		-webkit-animation: jelly .5s linear both
		animation: jelly .5s linear both;
