@import 'vars'
@import 'functions'


ul.comment
	font-size 24px
	text-transform capitalize
	li
		ul
			margin-bottom 20px
			font-size 18px


input.round
	background blue
	border none
	outline none
	width 19px
	height 19px
	margin -1px 4px 0 0
	vertical-align middle

ul.box-list
	margin 0
	padding 0
	max-height 300px
	overflow scroll
	center(200px)
	padding 20px 0
	// background rgba(black, 0.05)
	v(box-shadow, inset 0 -4px 5px -2px rgba(black,0.1))
	// box-shadow: 0 4px 2px -2px gray;
	
	v(border-bottom-left-radius, 50% 10px)
	v(border-bottom-right-radius, 50% 10px)
	text-transform capitalize


	li
		font-size 20px
		v(transition, all .1s)
		margin-top 6px
		cursor pointer

		margin-top @margin-left
		padding 6px 10px

		border-bottom 1px solid rgba(black,0.1)

		&:hover
			font-weight bold
			// background subtle
			// padding 4px 10px

			// font-size 20px
.big-select
	border 1px solid subtle
	v(border-radius, 5px)
	display inline-block
	li
		background superSubtle
		height 160px
		width 300px
		padding 20px
		cursor: pointer
		align(b)
		&:not(:first-child)
			border-left 1px solid subtle

		&:hover, &.selected
			i.fa,p
				color black
				font-weight bold
			
		p
			text-transform capitalize
			font-size 22px
			color rgba(black, 0.2)

		i.fa
			color subtle
			color rgba(black, 0.2)
			font-size 100px


// .chzn-container
// 	text-align left
// 	.chzn-choices
// 		padding 8px 10px !important
// 		box-sizing border-box !important
// 		height auto
// 		.search-field input
// 			text-align left !important
// 			// width 100% !important
// 			font-size 30px !important
