// font sizes
.small
	font-size 11px

.smaller
	font-size 10px
	line-height 13px


.big, .large
	font-size 28px

// weights
.light
	font-weight 100

.normal
	font-weight normal

.bold
	font-weight bold



// text-alignment
.left
	text-align left

.center
	text-align center

.right
	text-align right

.center-contents
	align(b)

// font colors
.subtle
	color subtle

// metrics
.nm
	margin 0

.np
	padding 0

.mt
	margin-top 20px

// positioning
.fixed
	position fixed

.absolute
	position absolute

.relative
	position relative


.absoluteUpRight
	position absolute
	top 20px
	right 20px
	text-align right
	font-family avenir
	font-size 30px
	p
		margin 0

.nostyletype
	list-style-type none
	
a.nolink
	text-decoration none
	color black
	&:hover
		text-decoration underline

.no-border
	border none

.no-button
	padding 0
	border none
	&:hover
		// background rgba(black, 0.4)

.inline-list
	list-style-type none
	li
		display inline-block