html
	height: 100%

body
	min-height: 100%

html
	background black

p
	color white

section.background
	position fixed
	top 0 
	left 0 

	min-width 100%
	min-height 100%

	z-index -1
	background-size cover
	background-repeat no-repeat
	opacity 0.2

.fade-in
	animation fade-in .2s
	-webkit-animation @animation

@keyframes fade-in
	from
		opacity 0
	to
		opacity 0.2

.fade-out
	animation fade-out .2s
	-webkit-animation @animation

@keyframes fade-out
	from
		opacity 0.2
	to
		opacity 0


section.artist-area
	width 100%
	// align(b)
	// margin-top 200px
	// width 100%


ul.related-artists
	center(1200px)
	li
		.artistBoxContainer
			// position relative
			height 200px
			.image
				margin auto
				height 95%
				width 95%
				background-size cover
				background-repeat no-repeat
				transition all .1s
				&.selected
					box-shadow 0 0 8px 1px white
					height 100%
					width 100%

				// transition all 1s

			h3
				font-size 18px
				font-weight bold
				font-family avenir
				color white
		col(1/5)
		cursor pointer
			

h1.page-title
	font-weight bold
	color white
	font-family avenir


input.round
	font-weight bold
	border-radius 5px
	height 50px
	width 300px
	font-size 30px 
	text-transform uppercase
	font-family avenir
	color #2b2b2b

.full-center-contents
	position fixed
	top 0
	left 0
	min-width 100%
	min-height 100%
	align(b)
