body,html
	min-height 100%
	width 100%

html
	background black

section.background
	position fixed
	top 0 
	left 0 

	min-width 100%
	min-height 100%

	z-index -1
	background-size cover
	background-repeat no-repeat
	opacity 0.4


ul.related-artists
	center(1200px)
	li
		// position relative
		height 200px
		.image
			height 100%
			width 100%
			background-size cover
			background-repeat no-repeat
			transition all 1s
			&:hover
				position absolute
				top 0
				left 0
				width 80%
				height 80%

		h3
			font-size 18px
			font-weight bold
			font-family avenir
			color white
		col(1/5)
		cursor pointer
			

h1.page-title
	font-weight bold
	color white
	font-family avenir
