@import 'vars'
@import 'functions'

nav.site-nav
	display inline-block
	margin-left 20px
	border-left 2px solid white
	ul
		margin 0
		v(transition, all .1s)
		li
			margin-left 15px
			a
				text-shadow 0 0 3px black
				color modal
				font-size 24px

// header:hover nav.site-nav ul
// 	background rgba(black, 0.1)
// 	li a
// 		color rgba(modal,1)
	
